<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>67553841343-et13en16lcr4tltm3fh72o68o8a95m8a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.67553841343-et13en16lcr4tltm3fh72o68o8a95m8a</string>
	<key>API_KEY</key>
	<string>AIzaSyB1_Fdie52gzR3GgMOHROltlX82GIrmfTA</string>
	<key>GCM_SENDER_ID</key>
	<string>67553841343</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.medusa</string>
	<key>PROJECT_ID</key>
	<string>flutter-ecomm-7adcd</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-ecomm-7adcd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:67553841343:ios:f37d01a45d9caa3710f60a</string>
</dict>
</plist>